.wd-bg-color-black {
    background-color: black;
    font-family: arial;
}

* {
    box-sizing: border-box;
}

.wd-float-left {
    float: left;
}

.wd-search-bar {
    border-radius: 50px;
    border: none;
    background-color: #121212;
    float: left;
    width: 92%;
    height: 35px;
    margin-left: 16px;
    padding-left: 2.5%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
}

.wd-search-bar2 {
    border-radius: 50px;
    border: none;
    float: left;
    width: 92%;
    height: 35px;
    margin-left: 16px;
    padding-left: 2.5%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
}

.wd-settings-icon-color{
    color: rgb(29,161,242);
}

.wd-right {
    float: right;
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.wd-float-right {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.wd-float-right-icon{
    height: 20px;
    width: 100px;
}

.wd-news-img{
    float: left;
    width: 10%;
}

.wd-news-tuit {
    display: table;
    border-collapse: collapse;
    float: left;
    width: 90%;
    padding: 10px;
}

.wd-emp-column {
    float: left;
    width: 5%;
    padding: 10px;
    height: 700px;
    background-color:black;
}
.wd-main-body {
    display: table;
    border-collapse: collapse;
    float: left;
    width: 95%;
    padding: 10px;
    height: 700px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
}

.wd-search-div-main {
    float: left;
    width: 100%;
    height: auto;
    padding: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(47, 51, 54);

}

.wd-after-navbar{
    float: left;
    width: 100%;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
}

.wd-row:after {
    content: "";
    display: table;
    clear: both;
}

.wd-main-top-nav {
    padding-bottom: 0px !important;
}

.wd-navbar {
    overflow: hidden;
    /*background-color: black;*/
    height: 45px;
}

.wd-navbar a {
    color: rgb(110,118,125);
    text-align: center;
    padding: 16px;
    font-size: 15px;
    display: inline-block;
    height: 45px;
    font-family: arial;
    text-decoration: none;
    font-weight: bold;
}

.wd-navbar a:hover {
    color: rgb(29,161,242);
}

.wd-navbar a:focus-within {
    border-bottom: solid rgb(29,161,242) 3px;
    color: rgb(29,161,242);
}

a {
    line-height: 1em;
    margin-right: 130px;
}

.wd-magnifying-glass{
    color: gray;
    z-index: 10;
    position: absolute;
    left: 35px;
    top: 9px;
    font-family: arial;
}

.wd-search-div{
    position: relative;
    width: 90%;
    height:100%;
}

.wd-placeholder{
    padding-left: 52px;
}

.wd-settings{
    position: relative;
    float:right;
    margin-right: 16px;
}

.wd-ellipsis{
    color:white;
    margin-left: 50px;
}

.wd-ellipsis2{
    padding-left: 1245px;
    color:white;
    margin-left: 50px;
}

.wd-light-ellipsis{
    color: rgb(110, 118, 125);
    padding-left: 50px;
}

.form-control{
    border-radius: 50px;
}
.wd-left-bar {
    width: 75%;
    float: right;
}

@media (min-width: 0px)
and (max-width: 576px) {
    p {
        background-color: yellow;
    }
    .media-query {
        background-color: red;
        color: white;
    }
}
@media (min-width: 576px)
and (max-width: 768px) {
    body {
        background-color: blue;
        color: white;
    }
    .media-query {
        background-color: yellow;
        color: black;
    }
}
@media (min-width: 768px)
and (max-width: 992px) {
    body {
        background-color: pink;
        color: white;
    }
    .media-query {
        background-color: blue;
        color: white;
    }
}
@media (min-width: 992px)
and (max-width: 1200px) {
    body {
        background-color: red;
        color: white;
    }
    .media-query {
        background-color: blue;
        color: white;
    }
}
@media (min-width: 1200px)
and (max-width: 1400px) {
    body {
        background-color: black;
        color: white;
    }
    .media-query {
        background-color: blue;
        color: white;
    }
}
